/*custom fonts*/
@font-face {
	font-family: Torus;
	src: url('fonts/Torus Regular.otf');
}
@font-face {
	font-family: "Torus Bold";
	src: url('fonts/Torus Bold.otf');
}
i {font-style: italic;}
.page{
	width:80vw; 
	height:80vh; 
	border:1px solid red;
}
nav ul li{display:inline;}

/*#page1{background:red;}
#page2{background:green}*/


#title{
	font-size: 3.5em;
}
h1 {font-family: "Torus Bold", serif; font-weight: normal; line-height: 1.5em;}
* {
	margin: auto;
	text-align: center;
	font-family: Torus, serif;
	font-weight: normal;
}

body {
background-image: url("images/gradient.jpg");
background-size: cover;
background-position: center;
}

/* buttons */
#page1btn{width: 30vw; height: 5vw;}
#page2btn{width: 30vw; height: 5vw;}	
#page3btn{width: 30vw; height: 5vw;}

@media (max-width:800px){
	#page1btn{width: 90%; height:5vw; position: relative; display: flex; justify-content: center; align-items: center;}
	#page2btn{width: 90%; height:5vw; position: relative; display: flex; justify-content: center; align-items: center;}
	#page3btn{width: 90%; height:5vw; position: relative; display: flex; justify-content: center; align-items: center;}
}

#flourID {
	background: cyan;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	position: relative;
	left: 0px;
	bottom: -360px;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 20px;
	transition: all 0.5s;
}
#eggID {
	background: cyan;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	position: relative;
	left: 0px;
	bottom: -360px;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 20px;
	transition: all 0.5s;
}
#bowlID {
	background: white;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	position: relative;
	bottom: -360px;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

div#minigame{
	background:white;
	border: 1px solid black;
	height: 500px;
}